{% extends "fenixedu-units-theme/base.html" %}

{% macro sotisCall(sotisUrl,language,username,dataname) %}
    <script src="{{sotisUrl}}/js/sotis-embedded.js" data-sotis-lang="{{language}}" data-sotis-links="yes" data-sotis-users="{{username}}" data-sotis-use="{{dataname}}"></script>
{% endmacro %}

{% block content %}

{% if bundle is not empty and titleKey is not empty %}
    <h1>{{ i18n(bundle,titleKey) }}</h1>
{% endif %}

{{ sotisCall(sotisUrl,language,researcher,dataKey) }}

{% endblock %}