<!--

    Copyright © ${project.inceptionYear} Instituto Superior Técnico

    This file is part of Fenix IST.

    Fenix IST is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Fenix IST is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public License
    along with Fenix IST.  If not, see <http://www.gnu.org/licenses/>.

-->
{% extends "fenixedu-units-theme/base.html" %}

{% block content %}
	{% if subunits is not empty %}
		<ul>
			{% for subunit in subunits %}
				<li>
					<a href="{{ subunit.site.initialPage.address }}">
						{{ subunit.nameI18n }}
					</a>
				</li>
			{% endfor %}
		</ul>
	{% else %}
		<h4>{{ i18n('resources.SiteResources', 'message.unitSite.unit.subunits.empty') }}</h4>
	{% endif %}

{% endblock content %}