{% extends "fenixedu-units-theme/base.html" %}

{% import "fenixedu-units-theme/personCard.html" %}

{% block content %}

<h2>{{ i18n('resources.SiteResources', 'label.teachers') }}</h2>

{% for category in categories %}

	<h3 class="page-header">{{category.name.content}}</h3>

	{% for teacher in getValue(scientificAreaTeachers, category) %}
		<li class="person-card-item">{{ personCard(teacher.person) }}</li>
	{% endfor %}

{% endfor %}

	<style type="text/css">
		.person-card-item {
			list-style-type: none;
		}
		.persons-title {
			padding-top: 7px;
			padding-bottom: 10px;
		}
		.person-card {
			height: 100px;
			margin: 15px;
		}
		.person-details {
			margin-top: 10px;
		}
	</style>

{% endblock content %}
