<!--

    Copyright © ${project.inceptionYear} Instituto Superior Técnico

    This file is part of Fenix IST.

    Fenix IST is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Fenix IST is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public License
    along with Fenix IST.  If not, see <http://www.gnu.org/licenses/>.

-->
{% extends "fenixedu-units-theme/base.html" %}

{% import "fenixedu-units-theme/personCard.html" %}

{% block content %}

<h2>{{ i18n('resources.SiteResources', 'label.teachers') }}</h2>

{% for category in categories %}

	<h3 class="page-header">{{category.name.content}}</h3>

	{% for teacher in getValue(scientificAreaTeachers, category) %}
		<li class="person-card-item">{{ personCard(teacher.person) }}</li>
	{% endfor %}

{% endfor %}

	<style type="text/css">
		.person-card-item {
			list-style-type: none;
		}
		.persons-title {
			padding-top: 7px;
			padding-bottom: 10px;
		}
		.person-card {
			height: 100px;
			margin: 15px;
		}
		.person-details {
			margin-top: 10px;
		}
	</style>

{% endblock content %}
