{% extends "fenixedu-units-theme/base.html" %}
{% import "fenixedu-units-theme/view.html" %}

{% block content %}

    {% block unitHeader %}{% endblock unitHeader %}
    
    <hr />

    <div class="row">   
        {% set colSize = showEvents and events is not empty and showAnnouncements and announcements is not empty ? 6 : 12 %}

        {% if showAnnouncements and announcements is not empty %}
        <div class="col-md-{{ colSize }}">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ i18n('resources.FenixEduLearningResources', 'label.announcements') }}</h3>
                </div>

                <div class="panel-body">
                    <p>{{ viewPost(announcements | head) }}</p>
                    <hr>
                    <a href="announcements">{{ i18n('resources.FenixEduLearningResources', 'label.announcements.all') }}</a>
                </div>
            </div>

        </div>
        {% endif %}

        {% if showEvents and events is not empty %}
        <div class="col-md-{{ colSize }}">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ i18n('resources.FenixEduLearningResources', 'label.events') }}</h3>
                </div>

                <div class="panel-body">
                    <p>{{ viewPost(events | head) }}</p>
                    <hr>
                    <a href="events">{{ i18n('resources.FenixEduLearningResources', 'label.announcements.all') }}</a>
                </div>
            </div>
        </div>
        {% endif %}

    </div>
    <style>
        .banner {
            width: 100%;
            float: left;
            background-color: {{ color }};
            /*background-image: url('{{ backgroundImage }}');*/
            background-repeat: {{ repeatType }};
        }
    </style>

{% endblock content %}